{% extends 'base.html' %}

{% block body %}
    <title>Blog Detail</title>
    <h1 > Author: {{blog_detail.user}} </h1>

    <h2>{{blog_detail.title}}</h2>
    <h3 class="blog_content lead" > {{blog_detail.blog}} </h3>
    <h5>{{blog_detail.date}}</h5>
    <hr>
    

    <h4>Comments: </h4>
    {% for comment in blog_detail.comments.all %}
        <p> {{comment.text}} <span class="float-right">~ {{comment.user}} </span>  </p>
        <hr>
    {% endfor %}

    {% if blog_detail.user == user and user.is_authenticated %}
    <a href="{% url 'blog:update_blog' pk=blog_detail.pk %}" class="btn btn-success" >Update</a>
    <a href="{% url 'blog:delete_blog' pk=blog_detail.pk %}" class="btn btn-warning" >Remove</a>
    {% elif user.is_authenticated %}
    <a href="{% url 'blog:comment' pk=blog_detail.pk %}" class="btn btn-warning" >Comment</a>
    {% endif %}

{% endblock %}